body {font-family: Montserrat, Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

#Stacey {
    border: 2px outset #ae49f1;
    border-radius: 50%;
    background: url(Stacey1.jpg);
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: bottom 0px right -60px;
    margin: 20px;
    box-shadow: 10px 5px 20px #615667;
  }

/* Hamburger menu */
.menu {
    display: flex;
    list-style: none;
    padding-left: 5px;
    margin: 15px;
  }
  
  /* Hide the hamburger menu at full-width */
  #hamburger {
    display: none;
  }
  
  .orange {
    color: #d15908;
  }
  
  /* MOBILE */
  @media screen and (max-width: 768px) {
    #hamburger {
      display: block;
      font-size: 3rem;
    }
  
    .menu {
      display: none;
    }
  }
  
  /* format the menus */
  #hamburger {
    cursor: pointer;
  }
  
  .menu li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .horizontal li {
    padding-right: 20px;
  }
  
  .vertical {
    margin: 0;
  }
  
  .vertical li {
    margin: 10px;
  }
  
  /*** FONTS ***/
  .menu li {
    font-size: 1.5rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 2em;
  }  


/* Contact Form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ae49f1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e593ea;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}